@import '../../style/App.scss';

.hero {
  padding-top: 240px;
  width: 100%;
  padding-bottom: 60px;
  background: rgb(7,25,34);
  background: linear-gradient(42deg, rgba(7,25,34,1) 0%, rgba(15,45,61,1) 18%, rgba(7,25,34,1) 100%);
  // background: rgb(0,175,239);
  // background: linear-gradient(42deg, rgba(0,175,239,1) 0%, rgba(15,45,61,1) 41%, rgba(7,25,34,1) 100%);

  .hero-info {
    padding-top: 60px;

    p {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }

  .hero-image {
    width: 100%;
    height: auto;
    float: right;
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1170px) {
  .hero {
    padding-top: 140px;

    .hero-info {
      padding-top: 5rem;
    }

    .hero-image {
      float: none;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 990px) {
  .hero {
    .hero-info {
      text-align: center;
    }
  }
}