  @import '../../../style/App.scss';
  
  .portfolio__box {
    position: relative;
    max-width: 370px;
    margin: 15px auto;
    cursor: pointer;
    // border: 1px solid yellow;
    background-size: cover;
    background-position: center center;

    img {
      width: 100%;
      height: auto;
    }

    .portfolio__hover-info {
      background: rgb(15,45,61);
      background: linear-gradient(42deg, rgba(15,45,61,0.8) 0%, rgba(0,175,239,0.8) 41%, rgba(72,202,125,0.8) 100%);    
      // background-color: rgba($main-color, 0.8);
      // background-image: linear-gradient(to right top, #0f2d3d, #13435b, #145a7b, #14739c, #108cbf, #059bcc, #00abd9, #00bbe5, #00c2d8, #00c7c1, #00caa2, #48ca7d);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.3s ease;
      color: $white-color;
      padding: 0.5rem;
      
      p {
        text-transform: uppercase;
      }
      p:last-child {
        color: $light-color;
      }
    }
    .portfolio__hover-info:hover {
      opacity: 1;
    }
  }

  .servicio-500 {
    height: 500px;
  }

  .servicio-300 {
    height: 323px;
  }

  .servicio-400 {
    height: 400px;
  }

@media screen and (max-width: 1024px) {
  .portfolio__hover-info {
    opacity: 1 !important;
  }
  .portfolio__hover-info:hover {
    opacity: 1;
  }
}