@import '../../style/App.scss';

.footer {
  background-color: $light-color;
  width: 100%;
  min-height: 180px;
  padding: 20px 0;

  .footer-box-lp {
    min-height: 180px;
    display: flex;
    align-items: center;

    p {
      color: $main-color;
      font-size: 1.1rem;
      margin-left: 30px;
    }
  }

  .footer-box-btn {
    min-height: 180px;
    display: flex;
    align-items: center;

    p {
      color: $main-color;
      font-size: 1.1rem;
      margin-left: 30px;
    }
  }

  .back-to-top {
    float: right;
    cursor: pointer;
    border-left: 1px solid #0F2D3D;
  
    img {
      margin-left: 10px;
    }
  }

  .back-to-top:hover {
    p {
      color: $main-color;
    }
  }
}

@media screen and (max-width: 1170px) {
  .footer {
    .footer-box-lp {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      img {
        padding-bottom: 30px;
      }
      p {
        margin-left: 0;
      }
    }
    .footer-box-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .back-to-top {
      display: flex;
      justify-content: center;
      align-items: center;
      float: none;
      flex-direction: row;
      // border-left: 1px solid #0F2D3D;
      
      img {
        padding-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .back-to-top {
    border: none;
  }
}
