@import '../../../style/App.scss';
  
.testomonio {
  // display: flex;
  padding: 0 4rem;
  // margin: 0 0 4rem 0;
  margin: 2rem 0 0 0;
  position: relative;

  .blog__hover {
    cursor: pointer;
    transition: 0.3s ease;
    // background-color: radial-gradient(rgba(black, 0.6), rgba(transparent, 0.6));
    background-image: radial-gradient($white-color 10%, transparent 90%);
    // background-color: rgba(black, 0.6); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, black , transparent);
    border-radius: 30px;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    padding-left: 10rem;
  }

  .testimonial-img {
    display: flex;
    justify-content: center;

    img {
      width: 180px;
      height: 180px;
      border-radius: 90px;
      margin: 2rem 0 0 0;
    }
  }

  .testimonial-txt {
    // margin: 0 0 0 4rem;
    padding: 2rem 3rem;
    background-color: $gray-color;
    width: 100%;
    border-radius: 10px;

    h5 {
      color: $main-color;
    }
  
    p, i {
      padding: 1.5rem 0;
      font-size: 2rem;
      font-style: italic;
      text-align: justify;
    }
  
    i {
      color: $green-color;
    }
  
    .quote {
      font-size: 3rem;
    }
  }
}

.testomonio:hover {
  .blog__hover {
    opacity: 1;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 770px) {
  .testomonio {
  
    .testimonial-img {
      padding: 0 0 4rem 0;
  
      // img {
      //   width: 180px;
      //   height: 180px;
      //   border-radius: 90px;
      //   margin: 2rem 0 0 0;
      // }
    }
  }
}
